body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
}

.container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 9px;
}

#result {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #2c06e6; 
    border-radius: 9px;
    background-color: #ffffff; 
    color: #2c06e6;
    margin-left: 20px;
}